@import 'colors';
@import 'mixins';
@import './toggle.scss';

:root {
  --color-page-background: #{$light-white-bg};
  --color-top-pattern: #{$light-blue-top-pattern};
  --color-card-bg: #{$light-blue-card-bg};
  --color-text: #{$light-blue-text};
  --color-dark-text: #{$light-dark-blue-text};
}

.dark {
  --color-page-background: #{$dark-blue-bg};
  --color-top-pattern: #{$dark-blue-top-pattern};
  --color-card-bg: #{$dark-blue-card-bg};
  --color-text: #{$dark-blue-text};
  --color-dark-text: #{$dark-white-text};
}

.header-backdrop {
  position: absolute;
  width: 100%;
  height: 250px;
  background-color: var(--color-top-pattern);
  z-index: 0;
}

html {
  font-family: 'Inter';
  // background-color: var(--color-page-background);
}
main {
  color: var(--color-text);
  background-color: var(--color-page-background);
  min-height: 100vh;
}

h1 {
  font-size: 4em;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 800;
}

h1,
h2 {
  color: var(--color-dark-text);
}

h3 {
  font-size: 1.2em;
}

h5 {
  font-size: 14px;
}

.followers-text {
  font-weight: 300;
  letter-spacing: 0.5em;
  margin-top: 4px;
  font-size: 0.85em;
}

img {
  width: 20px;
  height: 20px;
  padding: 8px;
}

.heading {
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.sub-heading {
  margin-top: 0px;
}

.container {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
}

.grid-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.grid-item {
  @include flex-centered;
  background-color: var(--color-card-bg);
  width: 20%;
  margin: 15px;
  border-radius: 5px;
  z-index: 1;
}

.change-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-bg {
  @include flex-centered;
  background-color: var(--color-card-bg);
  width: 100%;
  padding: 15px 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-border-top {
  height: 4px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
//card social top colors
.facebook {
  background: $facebook;
}
.twitter {
  background: $twitter;
}
.instagram {
  background: $instagram;
}
.youtube {
  background: $youtube;
}

.overview {
  margin: 10px;
}
.overview-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}

.username {
  display: flex;
  align-items: center;
  color: var(--color-text);
  font-size: 0.8em;
  font-weight: 700;
}

.toggle-container {
  display: flex;
  align-items: center;
  z-index: 1;
}

.toggle-text {
  padding: 0px 10px;
}

/* mobile */
@media (min-width: 350px) {
  .grid-item {
    width: 80%;
  }
  .heading {
    margin-left: 10%;
  }
  .toggle-container {
    width: 100%;
    justify-content: space-between;
    padding: 0;
  }
  .toggle {
    position: relative;
    margin: 0px 50px 0px 40px;
    z-index: 1;
  }
}

/* tablet */
@media (min-width: 520px) {
  .grid-item {
    width: 40%;
  }
  .heading {
    margin-left: 7%;
  }
  .divider {
    visibility: hidden;
  }

  .toggle {
    margin: 10px 40px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .toggle-container {
    display: flex;
    align-items: center;
  }
}

/* laptop + */
@media (min-width: 900px) {
  .grid-item {
    width: 20%;
  }
  .heading {
    margin-left: 4%;
  }
  .divider {
    visibility: hidden;
  }
  // .toggle {
  //   margin: 20px;
  //   position: absolute;
  //   right: 0;
  //   top: 0;
  // }

  // .toggle-container {
  //   display: flex;
  //   align-items: center;
  //   margin-right: 30px;
  // }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.minus-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $red;
}
.plus-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid $green;
}

.divider {
  width: 80%;
  height: 1px;
  background-color: var(--color-text);
  margin: 0 auto;
  z-index: 1;
}

footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  background-color: var(--color-page-background);
  color: var(--color-text);
}
