@import 'colors';
@import 'mixins';
@import './overview.scss';

html {
  font-family: 'Inter';
  min-height: 100vh;
  color: $light-blue-text;
}

h1 {
  font-size: 4em;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 800;
}


h1,
h2 {
  color: $light-dark-blue-text;
}

h3 {
  font-size: 1.2em;
}

h5 {
  font-size: 14px;
}

.header-backdrop {
  position: absolute;
  width: 100%;
  height: 250px;
  background-color: $light-blue-top-pattern;
  z-index: -1;
}

.followers-text {
  font-weight: 300;
  letter-spacing: .5em;
  margin-top: 4px;
  font-size: .85em;
}

img {
  width: 20px;
  height: 20px;
  padding: 8px;
}

.heading {
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
}
.sub-heading {
  margin-top: 0px;
}

.toggle {
  margin: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.container {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
}



.grid-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.grid-item {
  @include flex-card-background;
  width: 20%;
  margin: 15px;
  border-radius: 5px;
}

.change-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-bg {
  @include flex-card-background;
  width: 100%;
  padding: 15px 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-border-top {
  height: 4px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
//card social top colors
.facebook {
  background: $facebook;
}
.twitter {
  background: $twitter;
}
.instagram {
  background: $instagram;
}
.youtube {
  background: $youtube;
}

.overview {
 margin: 10px;
}
.overview-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}

.username {
  display: flex;
  align-items: center;
  color: $light-blue-text;
  font-size: 0.8em;
  font-weight: 700;
}

/* mobile */
@media (min-width: 350px) {
  .grid-item {
    width: 80%;
  }
  .heading {
    margin-left: 10%
  }

}

/* tablet */
@media (min-width: 520px) {
  .grid-item {
    width: 40%;
  }
  .heading {
    margin-left: 7%
  }
  .divider {
    visibility: hidden;
  }
}

/* laptop + */
@media (min-width: 900px) {
  .grid-item {
    width: 20%;

  }
  .heading {
    margin-left: 4%
  }
  .divider {
    visibility: hidden;
  }
}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


.minus-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $red;
}
.plus-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid $green;
}

.divider {
  width: 80%;
  height: 1px;
  background-color: $light-blue-text;
  margin: 0 auto;
}
